$buttonBorderRadius: '2px';

// Buttons
// small
$smButtonWidth: 1.5rem;
$smButtonHeight: 0.75rem;
$smButtonFontSize: 0.75rem;

//medium
$mdButtonWidth: 3.125rem;
$mdButtonHeight: 1.875rem;
$mdButtonFontSize: 1rem;

//large
$lgButtonWidth: 4rem;
$lgButtonHeight: 2.5rem;
$lgButtonFontSize: 1rem;

$tilePadding: .375rem;
